{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/estilo2.css' %}">
    <title>Página Inicial</title>
</head>
<body>
    <header>
        <nav>        
        <h1>AgroControl</h1>
       
        </nav>
    </header>

    {% if user.is_authenticated %}
        <p>Olá, {{ user.nome_completo|default:user.username }}!</p>
        <p><a href="{% url 'logout' %}">Sair</a></p>
    {% else %}
        <p>Você não está logado.</p>
        <p><a href="{% url 'login' %}">Entrar</a> | <a href="{% url 'cadastro' %}">Cadastrar-se</a></p>
    {% endif %}

    <hr>
    <p>Conteúdo da página inicial protegido com login.</p>
</body>
</html>