body {
    margin: 0;font-family: "Segoe UI", sans-serif;
    background: linear-gradient(rgba(255,255,255,0.8)),
                url("https://i.pinimg.com/originals/c9/03/69/c90369ff24a8c437faed84be2d16270a.jpg");
    background-size: cover;
    background-position: center;
    color: #1a1a1a;
}

form {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

fieldset {
    background-color: whitesmoke;
    border-radius: 0.2em;
    border-color: rgb(4, 142, 71);
    padding: 2.2em;
    box-shadow: 2px 2px 5px rgb(66, 192, 16);
}

legend {
    font-weight: bold;
    background-color: rgb(4, 142, 71);
    border-radius: 0.2em;
    font-size: 1.25em;
}

label {
    font-weight: bold;
    display: block;
    font-size: 1.13em;
}

input {
    height: 1.7em;
    background-color: rgb(4, 142, 71);
    border-radius: 0.6em;
    border: 1px solid #999
}